<mat-card class="main-content">
  <mat-card-header style="display: flex; flex-direction: row; align-items: center;">
    <button mat-fab color="primary"><mat-icon svgIcon="icon-instagram"></mat-icon></button>
    <button mat-fab color="primary"><mat-icon svgIcon="icon-vk"></mat-icon></button>
    <button mat-fab color="primary"><mat-icon svgIcon="icon-tiktok"></mat-icon></button>
    <div style="margin-left: 5vw ;">
      <h2>Сургут, ул.Профсоюзов д.9</h2>
    </div>
    <div style="padding-left: 5vw; padding-right: 1vw;">
  </div>
    <div style="  word-spacing: 2em;   display: flex; flex-direction: row; align-items: center;">
      <mat-icon style="padding-right: 2vw;">phone</mat-icon>
      <h2> +79222334455 +79222334455</h2>
    </div>
  </mat-card-header>
  <mat-card-content>
    <!-- md-gutter="1em" -->
    <mat-grid-list cols="3" rows="2"  rowHeight="16:10" >
      <mat-grid-tile colspan="3" rowspan="0.5"> <img src="/assets/image/logo.svg" style="width:100%; height: auto;" /></mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="0.5">
        <div style="display: flex; flex-direction: column; justify-content:space-evenly; height: 100%;">         
          <div *ngFor="let label of serviceLabel.keys()"  (click)="setContent(label)">
            <h1 [ngStyle]="{'color': index===label ? '#5BC3CD' : 'white' }"  >
            {{label}}
            </h1>
        </div>
        </div>
      </mat-grid-tile>
      
      <mat-grid-tile colspan="1" rowspan="0.5">
        <div  style="display: flex; flex-direction: column; justify-content: start; height: 100%;">
          <h3 *ngFor="let labelText of serviceLabel.get(index)">{{labelText}}</h3>
        </div>
      </mat-grid-tile>

      <mat-grid-tile colspan="1" rowspan="0.5">
      </mat-grid-tile>
      

    </mat-grid-list>
  </mat-card-content>
  <mat-card-footer>


  <app-scroll-down [tolink]="'booking'"></app-scroll-down>

  </mat-card-footer>
</mat-card>
