.gallery__container {
    margin: 0 auto;
    max-width: 90vw; 
    height: 75vh;
    background-color: transparent;
}

.img-popup-open-bnt {
  height: 100%; 
  width: 100%; 
  display:flex; 
  align-items: center; 
  justify-content: center; 
}