<div class="homelayout" style="align-items: center; ">
    <div style="display: flex; flex-direction: row; height: 3rem; width: 100%; padding-top: 1rem; ">
        <div style="display: flex; width: 100%; flex-direction: row; height: 2rem; justify-content: space-evenly; ">
            <div class="nav" style="margin-left: 100px;">
                <span>УСЛУГИ</span>
            </div>
            <div class="nav">
                <span>ГАЛЕРЕЯ</span>
            </div>
            <div class="nav" style="margin-right: 100px;">
                <span>ЗАПИСЬ</span>
            </div>
        </div>
    </div>
    <div class="logo-block">
        <img src="/assets/image/logo3.svg" class="logo-img" />
        <div
            style="display: flex;  flex-direction: row; width: 100%; justify-content: space-evenly; align-items: center;  height: 2.5rem; ">
            <span class="logo-label">Полировка</span>
            <span class="logo-label">&middot;</span>
            	
            <span class="logo-label">Химчистка</span>
            <span class="logo-label">&middot;</span>
            <span class="logo-label">Защитные покрытия</span>
            <span class="logo-label">&middot;</span>
            <span class="logo-label">Аудио подготовка</span>
        </div>
    </div>
    <div class="logo-delimiter"></div>


    <h1 class="logo-text">Какой то пиздатый текст на пару строк чтоб клиент такой
        прочитал и ауф потёк, как
        телка на выпускном, как мерседес в середине зимы, чтоб давило на душу так как ауди на три из шести цилиндров
    </h1>

</div>