<section id="booking">
  <div class="booking">
    <div class="booking-decoration"></div>

    <div class="booking-content">
      <div class="header-right" >
        <h1>Записаться</h1>
      </div>
      <form [formGroup]="checkoutForm" style="padding-top: 10vh">
        <div>
          <label for="name">
            <h2>Как вас зовут:</h2>
          </label>
          <input id="name" type="text" formControlName="name" />
        </div>

        <br />
        <div>
          <label for="phone">
            <h2>Номер телефона:</h2>
          </label>
          <input id="phone" type="text" formControlName="phone" />
        </div>
        <br />
        <button class="logobtn" type="submit">Записаться</button>
        <br />
        <br />
        <br />
        <h2>Наши специалисты позвонят вам в ближайшее время !</h2>
      </form>

    </div>


  </div>
  <div class="navbtn-next">
    <app-scroll-down [tolink]="'portfolio'"></app-scroll-down>
</div>
</section>
