

::ng-deep .booking-content.mat-card-content {
  background: repeating-linear-gradient(
    -45deg,
    transparent,
    transparent 20px,
    black 20px,
    black 40px
  ),
  repeating-linear-gradient(-45deg, transparent 0 20px, black 20px 40px),
  linear-gradient(to left, #05fafb, black 90%);
}

::ng-deep .mat-card {
  // background-color: tan;
  background-color: black;
  max-height: inherit;
}
::ng-deep .mat-card-content {
  // background-color: tan;
  // background-color: red;
  max-height: inherit;
}
::ng-deep .mat-form-field {
  .mat-input-element {
      font-size: 2em;
  }
  .mat-form-field-label {
      font-size: 1.5em;
  }
}
.mat-focused .placeholder {
  color: white;
}
::ng-deep .mat-form-field.mat-focused {
  .mat-form-field-label {
    color: #ff884d;
  }
}
.placeholder {
  color: #05fafb;
}
