<mat-card id="booking">
  <mat-card-header>
    <h1>Запись</h1>
  </mat-card-header>
  <mat-card-content class="booking-content">
    <mat-grid-list cols="3" rows="3" rowHeight="2:1" >


      <mat-grid-tile [colspan]="1" [rowspan]="1">
        
          <mat-card style="width: 70%; background-color: rgb(75, 75, 75, 0.4);">
            
            <mat-card-content>
              <div style="display: flex; flex-direction: column; ">
                
              <mat-form-field>
                <input matInput type="text">
                <mat-placeholder class="placeholder">Ваше имя</mat-placeholder>
              </mat-form-field>
              <mat-form-field>
                <input matInput type="text">
                <mat-placeholder class="placeholder">Номер телефона</mat-placeholder>
              </mat-form-field>
              <h3>Мы позвоним Вам в ближайшее время!</h3>
              <button class="with-round-borders" mat-raised-button>
                Записаться
              </button>
            </div>
            </mat-card-content>
          </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
  <mat-card-footer>

  </mat-card-footer>
</mat-card>





