@import '~@angular/material/theming';

// always include only once per project
@include mat-core();

// import our custom theme
@import '/src/assets/theme/my-theme.scss';


$my-app-primary: mat-palette($mat-light-blue);
$my-app-accent:  mat-palette($mat-yellow, 400);
$my-app-warn:    mat-palette($mat-deep-orange);
$my-app-theme: mat-dark-theme($my-app-primary, $my-app-accent, $my-app-warn);
@include angular-material-theme($my-app-theme);

// $primary-dark: mat-palette($mat-deep-purple);
// $accent-dark:  mat-palette($mat-green, A200, A100, A400);

// // Use mat-dark-theme instead of mat-light-theme
// $dark-theme: mat-dark-theme($primary-dark, $accent-dark);
// @include angular-material-theme($dark-theme)


html,
body {
  margin: 0;
  height: 100%;
  background-color: black;
}
body {
  // background-color:black;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
body * {
  transition: all 0.400s ease-in-out;
}
.with-round-borders{
  border-radius: 50px;
}
.with-round-borders:hover {
  background-color:  #3aafa9;
}
:focus {
  outline: none;
}
::ng-deep .mat-card {
  background-color:gray;
  max-height: inherit;
}
//https://www.concretepage.com/angular-material/angular-material-inputs
//https://icon-icons.com/ru/%D0%9F%D0%BE%D0%B8%D1%81%D0%BA/%D0%B8%D0%BA%D0%BE%D0%BD%D0%BA%D0%B8/?filtro=tiktok+svg
//https://colorhunt.co/palette/7b113a150e561597bb8fd6e1
//http://mcg.mbitson.com/#!?mcgpalette0=%2305fafb&themename=mcgtheme#%2F
//https://material.io/design/color/the-color-system.html#tools-for-picking-colors
//https://mdbootstrap.com/tools/logo-generator-text/
/* ICON 250
<p id="icon" style="text-shadow: none; font-size: 25px; color: rgb(5, 250, 251); height: 100px; width: 100px; line-height: 100px; border-radius: 50%; text-align: center; background-color: rgb(0, 0, 0);"> undefined </p>
*/

/* ICON 200
<p id="icon" style="text-shadow: none; font-size: 50px; color: rgb(5, 250, 251); height: 200px; width: 200px; line-height: 200px; border-radius: 50%; text-align: center; background-color: rgb(0, 0, 0);"> undefined </p>
*/

/* ICON 140
<p id="icon" style="text-shadow: none; font-size: 35px; color: rgb(5, 250, 251); height: 140px; width: 140px; line-height: 140px; border-radius: 50%; text-align: center; background-color: rgb(0, 0, 0);"> undefined </p>
*/

/* ICON 100
<p id="icon" style="text-shadow: none; font-size: 25px; color: rgb(5, 250, 251); height: 100px; width: 100px; line-height: 100px; border-radius: 50%; text-align: center; background-color: rgb(0, 0, 0);"> undefined </p>
*/

