<section>
  <div class="main">
    <div class="image">
      <img src="/assets/image/1.png" class="image600" />
    </div>

    <div class="text-line-container">
      <div class="text-line1">
        <h1>Если ценишь<br />свой автомобиль!</h1>
      </div>
      <!-- <div class="text-line2">
                    <h2>Качественные процедуры для безупречности авто</h2>
                </div> -->
      <div class="text-line3">
        <h4>|</h4>
        <h3>Полировка</h3>
        <h4>|</h4>
        <h3>Химчистка</h3>
        <h4>|</h4>
        <h3>Бронирование</h3>
        <h4>|</h4>
        <h3>Аудио подготовка</h3>
        <h4>|</h4>
      </div>
    </div>
    <!-- <div class="navbtn-block">
                <a href="#" class="navbtn">Записаться</a>
                <a href="#" class="navbtn">Наши работы</a>
                <a href="#" class="navbtn">Прайс лист</a>
                <a href="#" class="navbtn">Контакты</a>

            </div> -->

    <div class="navbtn-next">
      <app-scroll-down [tolink]="'booking'"></app-scroll-down>
    </div>
  </div>
</section>
